.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  margin: 10px auto;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; /* Add this line to make the buttons the same width */
}

button:hover {
  opacity: 0.8;
}

#home-button {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  background-color: darkblue; /* Make the home button darker */
  color: white;
}

/* Add this block to style the menu bar */
#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightblue;
  height: 50px;
}